<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <title>分享快乐</title>
    <link rel="stylesheet" href="/assets/css/common.css" />
    <link rel="stylesheet" href="/home/style.css" />

</head>

<body>
    <div class="page_warp">
        <%- include('./../components/header',{current:current}) -%>
            <div class="container">
                <div class="tab_content">
                    <ul class="list_box cur">
                        <% list.forEach(function(content){ %>
                        <li class="js-item item">
                            <a class="img" href="/dy/article/<%= content.id %>">
                                <img src="https://nimg.ws.126.net/?url=http%3A%2F%2Fdingyue.ws.126.net%2F2022%2F0414%2F991e1a89j00raaujf001ac000k800cjm.jpg&amp;thumbnail=169y90&amp;quality=95&amp;type=jpg" alt="今日早报 每日热点15条新闻简报 每天一分钟 知晓天下事10月27日">
                            </a>
                            <div class="desc">
                                <h4>
                                    <a href="/dy/article/<%= content.id %>" class="title">
                                        今日早报 每日热点15条新闻简报 每天一分钟 知晓天下事<%= content.datetime %>
                                    </a>
                                </h4>
                                <div class="tail">
                                    <span class="time"><%= content.createdate %> <%= content.createtime %></span>
                                </div>
                            </div>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            <%- include('./../components/footer',{current:current}) -%>
    </div>
</body>

</html>
<script src="/assets/js/common.js"></script>